<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="styles.css" />

  <title>Darkest Hero - by Piña</title>
  <link rel="icon" type="image/x-icon" href="img/icons/pina.png" />
  <link rel="apple-touch-icon" href="img/icons/pina.png" />

  <link rel="manifest" href="manifest.json" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="apple-mobile-web-app-status-bar" content="#000" />
  <meta name="theme-color" content="#000" />
</head>

<body>
  <div id="app">
    <header>
      <button @click="zoom > .39 ? zoom -= .1 : null" class="zoom-out"></button>
      <button @click="zoom < 1.41 ? zoom += .1 : null" class="zoom-in"></button>

      <select v-model="current.hero" class="hero">
        <option value="" disabled hidden>select hero</option>
        <option v-for="name in heroesPool" :value="name">
          {{ name.replaceAll('_', ' ') }}
        </option>
      </select>
      <select v-model="current.level" class="level">
        <option v-for="x in 3" :value="x">{{ 'I'.repeat(x) }}</option>
      </select>

      <button @click="exportSave()" class="export"></button>
      <button @click="importSave()" class="import"></button>
      <a id="export" style="display: none"></a>
      <input type="file" accept=".json" id="import" @change="onFileUpload" style="display: none" />
    </header>

    <main :style="{ '--unit': `${this.zoom}vh` }">
      <section class="trinkets" :style="{ marginTop: TRINKET_MARGIN[current.level-1] }">
        <div v-for="i in current.level" class="mini-h trinket" :class="{used: current.trinketStates[i-1]}"
          :style="trinketCard(current.trinkets[i-1])">
          <div>
            <select v-model="current.trinkets[i-1]" v-if="current.hero">
              <option value="">None</option>
              <optgroup v-for="(trinkets, index) in trinketsPool" :label="`Level ${index+1}`">
                <option v-for="trinket in trinkets" :value="trinket">
                  {{ trinket }}
                </option>
              </optgroup>
            </select>

            <button v-if="current.trinkets[i-1]"
              @click="current.trinketStates[i-1] = !current.trinketStates[i-1]"></button>
          </div>
        </div>
      </section>

      <section class="heroCard" :style="heroCard">
        <template v-if="current.hero">
          <button v-if="canTransform" @click="transformed = !transformed" class="text-button transform">
            Transform
          </button>
          <div class="xp dual-buttons">
            <button @click="current.xp > 0 ? current.xp-- : null"></button>
            <span>{{ current.xp }}</span>
            <button @click="current.xp++"></button>
          </div>

          <button @click="clearConditions()" class="text-button clear-condition">
            Clear Conditions
          </button>
          <button @click="adding = true" class="text-button add-condition">
            Add Condition
          </button>
          <button @click="nextTurn()" class="text-button next-turn">
            Next Turn
          </button>

          <div class="conditions">
            <div v-for="item in current.conditions" class="stack">
              <div v-for="_ in item.turns" class="condition" :style="conditionCard(item.condition)"></div>
            </div>
          </div>

          <div v-if="stunned" class="stunned">
            <div>you're stunned this turn!</div>
            <div>-1 action</div>
          </div>

          <button @click="wound(5)" class="text-button wound-5">
            +5
          </button>
          <div class="wounds dual-buttons">
            <button @click="wound(-1)"></button>
            <span>{{ current.wounds }}</span>
            <button @click="wound(1)"></button>
          </div>
          <button @click="wound(-5)" class="text-button heal-5">
            -5
          </button>
        </template>
      </section>

      <section class="board">
        <template v-if="current.hero">
          <div class="stress-count dual-buttons" :class="{afflicted: current.stress > 9}">
            <button @click="stress(-1)"></button>
            <span>{{ current.stress }}</span>
            <button @click="stress(1)"></button>
          </div>
          <button @click="stress(-10)" class="stress-count stress-10">
            -10
          </button>

          <div class="stress" :class="{red: current.stress > 9}">
            <div v-for="_ in current.stress % 10"></div>
          </div>

          <div>
            <div v-for="i in (2 + current.level)" class="mini-h ability" :style="abilityCard(current.abilities[i-1])"
              :class="{selected: current.abilities[i-1] >= 0}">
              <select v-model="current.abilities[i-1]">
                <option v-for="(item, index) in abilitiesPool" :value="index">
                  {{ item }}
                </option>
              </select>
              <select v-if="current.abilities[i-1] >= 0" v-model="current.abilitiesLevels[current.abilities[i-1]]">
                <option v-for="item in 3" :value="item">
                  {{ 'I'.repeat(item) }}
                </option>
              </select>
            </div>
          </div>
        </template>
      </section>

      <section class="status-cards">
        <div class="diseases">
          <div class="mini-v disease" :style="diseaseCard">
            <select v-if="current.hero" v-model="current.disease">
              <option value="">None</option>
              <option v-for="item in diseases" :value="item">{{ item }}</option>
            </select>
          </div>

          <div class="mini-v virtue" :style="afflictionCard">
            <select v-if="current.hero" v-model="current.affliction">
              <option value="">None</option>
              <optgroup label="Afflictions">
                <option v-for="item in afflictions" :value="item">
                  {{ item }}
                </option>
              </optgroup>
              <optgroup label="Virtues">
                <option v-for="item in virtues" :value="item">
                  {{ item }}
                </option>
              </optgroup>
            </select>
          </div>
        </div>

        <div class="quirks">
          <div v-for="i in 3" class="mini-v quirk" :style="quirkCard(current.quirks[i-1])">
            <select v-model="current.quirks[i-1]" v-if="current.hero">
              <option value="">None</option>
              <optgroup label="Negative">
                <option v-for="item in negatives" :value="item">
                  {{ item }}
                </option>
              </optgroup>
              <optgroup label="Positive">
                <option v-for="item in positives" :value="item">
                  {{ item }}
                </option>
              </optgroup>
            </select>
          </div>
        </div>
      </section>
    </main>

    <section class="overlay" v-if="adding" @click.self="adding=false">
      <div class="modal">
        <button class="close-modal" @click="adding=false">X</button>

        <div class="text">Select Condition</div>
        <div class="radio-buttons">
          <template v-for="item in conditions">
            <input type="radio" :id="item" :value="item" v-model="condition" />
            <label :for="item" class="radio-label condition" :style="conditionCard(item)">
            </label>
          </template>
        </div>

        <div class="text">Select Turns</div>
        <div class="radio-buttons">
          <template v-for="item in 6">
            <input type="radio" :id="item" :value="item" v-model="turns" />
            <label :for="item" class="radio-label condition">
              {{item}}
            </label>
          </template>
        </div>

        <button class="text-button" @click="addCondition()">Add</button>
      </div>
    </section>
  </div>

  <script src="constants.js"></script>
  <script src="app.js"></script>
</body>