body,
html {
  margin: 0;
  padding: 0;
  overflow: auto hidden;
  font-family: "sans-serif";
  background-color: black;
  color: darkred;

  --unit: 1vh;
}
* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline: none;
}

/* ------------ common ------------ */
select,
button {
  cursor: pointer;
  border: 1px solid #fff2;
}
select * {
  color: initial;
  font-size: initial;
}
button {
  background: #fff2;
  border-radius: calc(2 * var(--unit));
  touch-action: manipulation;
  padding: 0;
}
/* remove select caret */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* for IE10 */
select::-ms-expand {
  display: none;
}


/* ------------ cards ------------ */
.mini-h {
  height: calc(21 * var(--unit));
  width: calc(32.5 * var(--unit));
}
.mini-v {
  height: calc(32.5 * var(--unit));
  width: calc(21 * var(--unit));
}
.mini-h,
.mini-v {
  background-size: 100%;
  border-radius: calc(2 * var(--unit));
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.mini-h select,
.mini-v select {
  flex: 1;
  border-radius: calc(2 * var(--unit));
  background: #fff2;
  color: transparent;
  max-width: 100%;
  width: 100%;
}

/* ------------ header ------------ */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(10 * var(--unit));

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-transform: capitalize;
}
select.hero {
  font-size: calc(2.5 * var(--unit));
  background: #0b0704;
  color: #fedfae;
  border-radius: var(--unit) 0 0 var(--unit);
  margin-right: calc(-3 * var(--unit));
  padding-right: calc(1 * var(--unit));
  text-align: center;
  width: calc(22 * var(--unit));
}
select.level {
  background: #0b0704;
  width: calc(7 * var(--unit));
  height: calc(7 * var(--unit));
  border-radius: 50%;
  text-align: center;
  color: #fedfae;
  font-size: calc(3 * var(--unit));
}
select.hero option,
select.level option {
  color: #fedfae;
}

.import,
.export {
  width: calc(5 * var(--unit));
  height: calc(5 * var(--unit));
  background: #0b0704;
  border-radius: 100%;
  margin-left: 10px;
}
.import::after,
.export::after {
  display: block;
  content: "";
  width: 70%;
  height: 70%;
  margin: 15%;
  background-size: 100%;
  /* change color to #fedfae https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(98%) sepia(36%) saturate(5358%) hue-rotate(298deg) brightness(117%) contrast(112%);
}
.import::after {
  background-image: url(img/icons/upload.svg);
}
.export::after {
  background-image: url(img/icons/save.svg);
}

main {
  margin-top: calc(10 * var(--unit));
  height: calc(90 * var(--unit));
  display: flex;
  align-items: stretch;
}

/* ------------ trinkets ------------ */
.trinkets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trinket {
  margin-bottom: calc(2.2 * var(--unit));
  display: flex;
  align-items: stretch;
  transform: rotate(0deg);
  transition-duration: 0.5s;
  transition-property: transform;
}
.trinket > div {
  display: flex;
  flex: 1;
}

.trinket.used {
  transform: rotate(180deg);
}
.trinket.used > div {
  transform: rotate(-180deg);
}

.trinket select:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  max-width: 50%;
  width: 50%;
}
.trinket button {
  flex: 1;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  max-width: 50%;
  width: 50%;
}

.trinket:nth-child(1) {
  background-image: url(img/game/trinket1.jpg);
}

.trinket:nth-child(2) {
  background-image: url(img/game/trinket2.jpg);
}

.trinket:nth-child(3) {
  background-image: url(img/game/trinket3.jpg);
}

/* ------------ hero card ------------ */
.heroCard {
  min-width: calc(50 * var(--unit));
  background-image: url(img/game/hero.png);
  background-size: 100%;
  position: relative;
}

.wounds {
  position: absolute;
  top: 25%;
  right: 4%;
  width: calc(11 * var(--unit));
  height: calc(11 * var(--unit));

  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: calc(3.5 * var(--unit));

  background-image: url(img/game/wounds.png);
  background-size: 100%;
  border-radius: 100%;
}

.xp {
  position: absolute;
  top: 39%;
  right: 6%;
  width: calc(9 * var(--unit));
  height: calc(7 * var(--unit));

  display: flex;
  align-items: center;
  color: #fedfae;
  font-size: calc(3.5 * var(--unit));
  padding-left: calc(1.5 * var(--unit));

  background: #0b0704;
  background-image: url(img/game/xp.png);
  background-size: calc(7 * var(--unit));
  background-position: right;
  background-repeat: no-repeat;
  border-radius: var(--unit);
}

.heroCard button,
.stressCount button {
  position: absolute;
  height: 100%;
  width: 50%;
}
.heroCard button:first-child,
.stressCount button:first-child {
  left: 0;
  right: 50%;
}
.heroCard button:last-child,
.stressCount button:last-child {
  left: 50%;
  right: 0;
}

.wounds button:first-child {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}
.wounds button:last-child {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.xp button:first-child,
.stressCount button:first-child {
  border-radius: var(--unit) 0 0 var(--unit);
}
.xp button:last-child,
.stressCount button:last-child {
  border-radius: 0 var(--unit) var(--unit) 0;
}

/* ------------ abilities ------------ */
.board {
  position: relative;
  background-image: url(img/game/board.png);
  background-size: 100%;
  min-width: calc(76 * var(--unit));
}

.stressCount {
  position: absolute;
  left: 2%;
  top: 4%;
  height: 6.3%;
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(3.5 * var(--unit));
}

.afflicted {
  position: absolute;
  left: 12.8%;
  top: 4%;
  height: 6.3%;
  width: 7.3%;
  background-color: rgba(139, 0, 0, 0.7);
}

.stress {
  position: absolute;
  left: 21%;
  top: 4.2%;
  height: 7.7%;
  width: 68%;
  display: flex;
}
.stress > div {
  width: 10%;
  padding: 1%;
}
.stress > div::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #dddddd;
}
.stress.red > div::after {
  background-color: darkred;
}

.ability {
  position: absolute;
}
.ability select:not(:last-child) {
  flex: 2;
  margin-right: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  max-width: 50%;
  width: 50%;
}
.ability select + select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  max-width: 50%;
  width: 50%;
}

.ability:nth-child(1) {
  top: 23.5%;
  left: 3.9%;
}

.ability:nth-child(2) {
  top: 47.7%;
  left: 3.9%;
}

.ability:nth-child(3) {
  top: 47.7%;
  left: 47.7%;
}

.ability:nth-child(4) {
  top: 71.9%;
  left: 3.9%;
}

.ability:nth-child(5) {
  top: 71.9%;
  left: 47.7%;
}

/* ------------ statuses ------------ */
.status {
  display: flex;
  flex-direction: column;
}

.diseases {
  display: flex;
  margin-top: calc(10 * var(--unit));
}

.disease {
  margin-right: 5px;
  background-image: url(img/game/disease.jpg);
}

.virtue {
  background-image: url(img/game/virtue.jpg);
}

.quirks {
  display: flex;
  margin-top: calc(7 * var(--unit));
}

.quirk {
  margin-right: 5px;
  background-image: url(img/game/quirk.jpg);
}